.modal-content button.btn.btn-default.btn-sm.Ripple-parent.close {
    background: #170e1a !important;
}

.default-wallet-view {
    background-color: #170e1a;
}

.btn-default, .close:hover, .close.btn-default:not([disabled]):not(.disabled):active, .close.btn-default:not([disabled]):not(.disabled):focus {
    background-color: #170e1a !important;
    box-shadow: none;
}

.close .Ripple.is-reppling {
    animation: none !important;
}

.close .fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\02715" !important;
}

.default-wallet-view {
    padding: 100px 0 100px 0;
}

@media screen and (max-width: 576px) {
    .default-wallet-view {
        width: 100%;
        height: 97vh;
        padding-top: 12vh;
    }
}